:root {
  /* CSS HSL */
  --my01-hsla: hsla(224, 40%, 16%, 1);
  --my02-hsla: hsla(222, 68%, 90%, 1);
  --my03-hsla: hsla(223, 41%, 76%, 1);
  --my04-hsla: hsla(224, 25%, 60%, 1);
  --my05-hsla: hsla(223, 21%, 13%, 1);
  --my06-hsla: hsla(223, 66%, 71%, 1);
  /* CSS HEX */
  --mm-100: hsla(239, 94%, 19%, 0.15);
  --mm-200: hsla(214, 97%, 27%, 0.15);
  --mm-300: hsla(201, 100%, 36%, 0.15);
  --mm-400: hsla(195, 100%, 39%, 0.15);
  --mm-500: hsla(190, 100%, 42%, 0.15);
  --mm-600: hsla(190, 74%, 59%, 0.15);
  --mm-700: hsla(189, 75%, 75%, 0.15);
  --mm-800: hsla(190, 76%, 82%, 0.15);
  --mm-900: hsla(190, 77%, 88%, 0.15);

  --my01: #d5dff7;
  --my02: #a9b7db;
  --my03: #7f8db3;
  --my04: #85a0e6;
  --my05: #19223b;
  --my06: #1b1f29;
}

.dark {
  --my01: #d5dff7;
  --my02: #a9b7db;
  --my03: #7f8db3;
  --my04: #85a0e6;
  --my05: #19223b;
  --my06: #1b1f29;

  /* CSS HEX */
  --mm-100: hsla(239, 94%, 19%, 0.15);
  --mm-200: hsla(214, 97%, 27%, 0.15);
  --mm-300: hsla(201, 100%, 36%, 0.15);
  --mm-400: hsla(195, 100%, 39%, 0.15);
  --mm-500: hsla(190, 100%, 42%, 0.15);
  --mm-600: hsla(190, 74%, 59%, 0.15);
  --mm-700: hsla(189, 75%, 75%, 0.15);
  --mm-800: hsla(190, 76%, 82%, 0.15);
  --mm-900: hsla(190, 77%, 88%, 0.15);
}
.light {
  --my06: #f9ffff;
  --my05: #a9b7db;
  --my04: #7f8db3;
  --my03: #85a0e6;
  --my02: #19223b;
  --my01: #1b1f29;
  --tw-shadow: inset 0px 0px 7px 0px rgba(110, 110, 163, 1);
  /* CSS HEX */
  --mm-100: hsla(190, 77%, 88%, 0.15);
  --mm-200: hsla(190, 76%, 82%, 0.15);
  --mm-300: hsla(189, 75%, 75%, 0.15);
  --mm-400: hsla(190, 74%, 59%, 0.15);
  --mm-500: hsla(190, 100%, 42%, 0.15);
  --mm-600: hsla(195, 100%, 39%, 0.15);
  --mm-700: hsla(201, 100%, 36%, 0.15);
  --mm-800: hsla(214, 97%, 27%, 0.15);
  --mm-900: hsla(239, 94%, 19%, 0.15);
}

nav {
  display: grid;
  grid-template-columns: 1fr 75px 75px;
}

@keyframes slide {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-down-app {
  animation: slide 300ms ease-in-out;
}
